<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public/index.js" type="module" defer></script>
    <link rel="stylesheet" href="./style.css">
    <title>Orion Fantasy F1</title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="event-details"></div>
            <div id="countdown"></div>
            <!-- <div id="podiums-wrap">
                <h4>Podium Selections</h4>
            </div> -->
        </div>
        <div id="content">
            <div id="checkered"></div>
            <div id="rules"></div>
            <div id="leaderboard"></div>
        </div>
    </div>
</body>
</html>